<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Recuperacion de Acceso - Soporte Tecnico de Floppy</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;">

<div style="background-color: #f2f2f2; padding: 20px;">
    <div style="background-color: #fff; max-width: 600px; margin: auto; border-radius: 10px; padding: 20px;">
        <h2 style="color: #4285f4;">Recuperación de Acceso</h2>
        <p>Estimado usuario,</p>
        <p>Desde el soporte tecnico de Floppy nos hemos enterado de que has tenido problemas para acceder a tu cuenta. Queremos que sepas que estamos aqui para ayudarte.</p>
        <p>Nuestro equipo de soporte tecnico se pondra en contacto contigo en breve para asistirte en el proceso de recuperación de acceso a tu cuenta.</p>
        <p>Si tienes alguna pregunta o inquietud mientras tanto, no dudes en ponerte en contacto con nosotros a traves de nuestro correo electronico de soporte: support@floppy.com</p>
        <p>Gracias por confiar en Floppy.</p>
        <p>Atentamente,<br>El equipo de Soporte Tecnico de Floppy</p>
    </div>
</div>

</body>
</html>
